body {
  background-image: url(img/loginback.jpg);
  background-size: cover;
}

.navbar {
  background-color: #333;
  opacity: 0.8;
  border-radius: 10px;
  height: 80px;
padding-top: 30px;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: #43bc38;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

.dropdown {
  float: left;
  overflow: hidden;
  border-radius: 10px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #43bc38;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #43bc38;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:#43bc38;

}

.dropdown:hover .dropdown-content {
  display: block;
}

#search{
  float: right;
}
#searchbox{
  height: 30px;
  width: 150px;
  border-radius: 10px;
}
#searchbutton{
  border-radius: 10px;
  height: 30px;
}
.footer {
  background-color: black;
  bottom: 0;
  left: 0;
  width: 100%;
  position: auto;
  height: 100px;
  border-radius: 20px;
  opacity: 0.8;
  font-size: 20px;
}
#social-fb:hover {
    color: #4186f4;
    font-size: 30px;
}
#social-tw:hover {
    color: #87ebed;
    font-size: 30px;
}
#social-gp:hover {
    color: #b72828;
    font-size: 30px;
}
#social-em:hover {
    color: #f39c12;
    font-size: 30px;
}



#social-fb {
  color: #8c7e7e;
  padding: 20px;
  width: 20px;
}
#social-tw {
  color: #8c7e7e;
  padding: 20px;
  width: 20px;
}#social-gp {
  color: #8c7e7e;
  padding: 20px;
  width: 40px;
}
#social-em  {
  color: #8c7e7e;
  padding: 20px;
  width: 20px;
  height: 40px;
}

h2  {
  font-family: fantasy;
  text-align: center;
}
.footer p {
  text-align: center;
}
.container {

  color: black;
  font-family: 'Bilbo', cursive;
  font-size: 20px;
  background: url(50%-transparent-white.png);
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
}
.icon-name  {
  font-size: 20px;
  float: left;
  padding-left: 70px;
  text-align: center;
}

.container img  {

border-radius: 70%;


}
.icons img {
  padding: 100px,100px;
}
.servy img{
  border-radius: 10px;
}

.card-title, .card-text, .card-img-top {
  text-align: center;
}
.row {
  /* background-color: #eee; */
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding-top: 20px;
}
#hhh {
  opacity: 1.0;
}
#hh {
  color: blue;
}
.title {
  color: white;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.checked {
  color: orange;
}
.rate {
  height: 46px;
  font-size: 30px;
  text-align: center;
  padding-top: 0.01px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  /* float: right; */
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  text-align: center;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.rate2 {
  height: 46px;
  font-size: 30px;
  text-align: center;
  padding-top: 0.01px;
}
.rate2:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate2:not(:checked) > label {
  /* float: right; */
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  text-align: center;
}
.rate2:not(:checked) > label:before {
  content: '★ ';
}
.rate2 > input:checked ~ label {
  color: #ffc700;
}
.rate2:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate2 > input:checked + label:hover, .rate2 > input:checked + label:hover ~ label, .rate2 > input:checked ~ label:hover, .rate2 > input:checked ~ label:hover ~ label, .rate2 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}



.rate3 {
  height: 46px;
  font-size: 30px;
  text-align: center;
  padding-top: 0.01px;
}
.rate3:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate3:not(:checked) > label {
  /* float: right; */
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  text-align: center;
}
.rate3:not(:checked) > label:before {
  content: '★ ';
}
.rate3 > input:checked ~ label {
  color: #ffc700;
}
.rate3:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate3 > input:checked + label:hover, .rate2 > input:checked + label:hover ~ label, .rate2 > input:checked ~ label:hover, .rate2 > input:checked ~ label:hover ~ label, .rate2 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.rate4 {
  height: 46px;
  font-size: 30px;
  text-align: center;
  padding-top: 0.01px;
}
.rate4:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate4:not(:checked) > label {
  /* float: right; */
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  text-align: center;
}
.rate4:not(:checked) > label:before {
  content: '★ ';
}
.rate4 > input:checked ~ label {
  color: #ffc700;
}
.rate4:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate4 > input:checked + label:hover, .rate2 > input:checked + label:hover ~ label, .rate2 > input:checked ~ label:hover, .rate2 > input:checked ~ label:hover ~ label, .rate2 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.rate5 {
  height: 46px;
  font-size: 30px;
  text-align: center;
  padding-top: 0.01px;
}
.rate5:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate5:not(:checked) > label {
  /* float: right; */
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  text-align: center;
}
.rate5:not(:checked) > label:before {
  content: '★ ';
}
.rate5 > input:checked ~ label {
  color: #ffc700;
}
.rate5:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate5 > input:checked + label:hover, .rate2 > input:checked + label:hover ~ label, .rate2 > input:checked ~ label:hover, .rate2 > input:checked ~ label:hover ~ label, .rate2 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.rate6 {
  height: 46px;
  font-size: 30px;
  text-align: center;
  padding-top: 0.01px;
}
.rate6:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate6:not(:checked) > label {
  /* float: right; */
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  text-align: center;
}
.rate6:not(:checked) > label:before {
  content: '★ ';
}
.rate6 > input:checked ~ label {
  color: #ffc700;
}
.rate6:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate6 > input:checked + label:hover, .rate2 > input:checked + label:hover ~ label, .rate2 > input:checked ~ label:hover, .rate2 > input:checked ~ label:hover ~ label, .rate2 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.rate7 {
  height: 46px;
  font-size: 30px;
  text-align: center;
  padding-top: 0.01px;
}
.rate7:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate7:not(:checked) > label {
  /* float: right; */
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  text-align: center;
}
.rate7:not(:checked) > label:before {
  content: '★ ';
}
.rate7 > input:checked ~ label {
  color: #ffc700;
}
.rate7:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate7 > input:checked + label:hover, .rate2 > input:checked + label:hover ~ label, .rate2 > input:checked ~ label:hover, .rate2 > input:checked ~ label:hover ~ label, .rate2 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.rate8 {
  height: 46px;
  font-size: 30px;
  text-align: center;
  padding-top: 0.01px;
}
.rate8:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate8:not(:checked) > label {
  /* float: right; */
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  text-align: center;
}
.rate8:not(:checked) > label:before {
  content: '★ ';
}
.rate8 > input:checked ~ label {
  color: #ffc700;
}
.rate8:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate8 > input:checked + label:hover, .rate2 > input:checked + label:hover ~ label, .rate2 > input:checked ~ label:hover, .rate2 > input:checked ~ label:hover ~ label, .rate2 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.rate9 {
  height: 46px;
  font-size: 30px;
  text-align: center;
  padding-top: 0.01px;
}
.rate9:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate9:not(:checked) > label {
  /* float: right; */
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  text-align: center;
}
.rate9:not(:checked) > label:before {
  content: '★ ';
}
.rate9 > input:checked ~ label {
  color: #ffc700;
}
.rate9:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate9 > input:checked + label:hover, .rate2 > input:checked + label:hover ~ label, .rate2 > input:checked ~ label:hover, .rate2 > input:checked ~ label:hover ~ label, .rate2 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.jamila {
  height: 200px;
}
