body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("img/painter.jpg");
  background-size: cover;
}

.navbar {
  background-color: #333;
  opacity: 0.8;
  border-radius: 10px;
  height: 80px;
padding-top: 30px;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: #43bc38;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

.dropdown {
  float: left;
  overflow: hidden;
  border-radius: 10px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #43bc38;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #43bc38;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:#43bc38;

}

.dropdown:hover .dropdown-content {
  display: block;
}

#search{
  float: right;
}
#searchbox{
  height: 30px;
  width: 150px;
  border-radius: 10px;
}
#searchbutton{
  border-radius: 10px;
  height: 30px;
}
.footer {
  background-color: black;
  bottom: 0;
  left: 0;
  width: 100%;
  position: auto;
  height: 100px;
  border-radius: 20px;
  opacity: 0.8;
  font-size: 20px;
}
#social-fb:hover {
    color: #4186f4;
    font-size: 30px;
}
#social-tw:hover {
    color: #87ebed;
    font-size: 30px;
}
#social-gp:hover {
    color: #b72828;
    font-size: 30px;
}
#social-em:hover {
    color: #f39c12;
    font-size: 30px;
}



#social-fb {
  color: #8c7e7e;
  padding: 20px;
  width: 20px;
}
#social-tw {
  color: #8c7e7e;
  padding: 20px;
  width: 20px;
}#social-gp {
  color: #8c7e7e;
  padding: 20px;
  width: 40px;
}
#social-em  {
  color: #8c7e7e;
  padding: 20px;
  width: 20px;
  height: 40px;
}

h2  {
  font-family: fantasy;
  text-align: center;
}
.footer p {
  text-align: center;
}
.container {

  color: black;
  font-family: 'Bilbo', cursive;
  font-size: 20px;
  background: url(50%-transparent-white.png);
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
}
.icon-name  {
  font-size: 20px;
  float: left;
  padding-left: 70px;
  text-align: center;
}

.container img  {

border-radius: 70%;


}
.icons img {
  padding: 100px,100px;
}
.servy img{
  border-radius: 10px;
}
